streamlit
langchain
langchain-classic 
langchain-google-genai
langchain-deepseek
langchain-cohere
langchain-pinecone
langchain-text-splitters
langchain-community
google-genai
pinecone
faiss-cpu
PyMuPDF
python-docx
docx2txt
python-dotenv