streamlit
langchain
langchain-community 
langchain-classic
langchain-google-genai
langchain-deepseek
langchain-cohere
langchain-pinecone
langchain-text-splitters 
pinecone
google-genai
faiss-cpu
PyMuPDF
python-docx
docx2txt
python-dotenv
pinecone-text
